/* Estilos gerais da página */

/* Define uma margem e preenchimento para o corpo da página */
body {
    margin: 0px 30px;
}

/* Estilos da barra de navegação */
.navbar {
    background-color: #8FBC8F;
}

/* Estilos para links na barra de navegação */
.collapse .navbar-nav .nav-item .nav-link {
    color: #F5F5DC;
}

/* Estilos para as linhas na seção de serviços */
.container-fluid .row {
    background-color: #8FBC8F;
    font-size: 1.2em;
    text-align: center;
}

/* Estilos para links na seção de serviços */
.container-fluid .row a {
    color: #F5F5DC;
}

/* Estilos para links hover na seção de serviços */
.container-fluid .row a:hover {
    text-decoration: none;
}

/* Estilos para itens de linha (row-item) */
.row .row-item {
    border: 1px solid #F5F5DC;
}

/* Estilos para cabeçalhos h2 */
h2 {
    margin-top: 50px;
    color: #8FBC8F;
    margin-left: 20px;
}

/* Estilos para a seção de cards */
.ajustaCard {
    display: block;
    gap: 10px;
    margin-top: 50px;
    margin-right: 10px;

}

/* Estilos para a seção de cards e links na seção */
.ajustaCard .row {
    background-color: #fff;
}

/* Estilos para itens de linha na seção de cards */
.ajustaCard .row .row-item {
    border: none;
}

/* Estilos para os cards na seção de cards */
.ajustaCard .row .row-item .card {
    border: none;
}

/* Estilos para botões na seção de cards */
.ajustaCard button {
    background-color: #8FBC8F;
    border: 1px solid #8FBC8F;
    color: #fff;
}

/* Estilos para hover em botões na seção de cards */
.ajustaCard button:hover {
    background-color: #F5F5DC;
    border: #8FBC8F;
    color: #8FBC8F;
}

/* Estilos para o corpo dos cards na seção de cards */
.card-body-produto {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 0.9em;
    text-align: left;
}

/* Estilos para a imagem superior nos cards */
.card-img-top {
    width: 220px;
    padding-top: 10px;
    padding-left: 50px;
}


/* Estilos para a classe 'imag' */
.imag {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Estilos para o rodapé da página */
footer {
    padding: 30px;
    background-color: #8FBC8F;
    color: #F5F5DC;
}

/* Estilos para links no rodapé */
footer .container a {
    color: #F5F5DC;
}

/* Estilos para hover em links no rodapé */
footer .container a:hover {
    text-decoration: none;
    color: #F5F5DC;
}